<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Covid19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
  We hope you find this page useful and check back regularly for updates.

UPDATE | May 26, 2020: Some of the newest COVID-19-related entries from Merriam-Webster are shown in dark purple in addition to words, in red, added by the dictionary in March. Words in black are from TMC’s reporting.

Acute respiratory stress syndrome (ARDS): a condition in which fluid builds up in the air sacs of the lungs. The fluid prohibits the lungs from getting enough air, leading to a deprivation of oxygen in the bloodstream. The condition is often fatal.

Asymptomatic: presenting no symptoms of disease. In the case of COVID-19, this means absence of fever, dry cough, sore throat, shortness of breath and body aches, among other less common symptoms. Notably, it is recommended that individuals do not get tested unless they exhibit symptoms because of the risk of false negatives. In other words, most tests will not be accurate unless symptoms are present.

Case fatality rate: the ratio of deaths from COVID-19 to the total number of individuals diagnosed with the disease.

Clinical trial: research experiments on human participants designed to answer questions about new treatments; in the case of COVID-19 and coronaviruses, the safety and efficacy of a potential vaccine.
  </body>
</html>